Build started...
Build succeeded.
The Entity Framework tools version '9.0.0' is older than that of the runtime '10.0.2'. Update the tools for the latest features and bug fixes. See https://aka.ms/AAc1fbw for more information.
CREATE EXTENSION IF NOT EXISTS postgis;
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20260118184716_InitialCreate') THEN
    CREATE EXTENSION IF NOT EXISTS postgis;
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20260118184716_InitialCreate') THEN
    CREATE TABLE "Products" (
        "Id" uuid NOT NULL,
        "Name" character varying(200) NOT NULL,
        "Description" character varying(1000) NOT NULL,
        "Price" numeric(18,2) NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone,
        CONSTRAINT "PK_Products" PRIMARY KEY ("Id")
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20260118184716_InitialCreate') THEN
    CREATE TABLE "Terrains" (
        "Id" uuid NOT NULL,
        "Titre" character varying(200) NOT NULL,
        "Description" text,
        "Quartier" character varying(100) NOT NULL,
        "Commune" character varying(100) NOT NULL,
        "Surface" numeric(18,2) NOT NULL,
        "Prix" numeric(18,2) NOT NULL,
        "PrixParM2" numeric(18,2),
        "Statut" text NOT NULL,
        "TypeTerrain" text,
        "Geometrie" geometry(Polygon, 4326) NOT NULL,
        "ContactNom" text,
        "ContactTelephone" text,
        "DateAjout" timestamp with time zone NOT NULL,
        "DateModification" timestamp with time zone NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone,
        CONSTRAINT "PK_Terrains" PRIMARY KEY ("Id")
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20260118184716_InitialCreate') THEN
    INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
    VALUES ('20260118184716_InitialCreate', '10.0.2');
    END IF;
END $EF$;
COMMIT;

START TRANSACTION;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20260209074003_AddDXFFeatureTable') THEN
    CREATE TABLE dxf_features (
        "Id" uuid NOT NULL,
        "LayerName" character varying(200) NOT NULL,
        "Geometry" geometry NOT NULL,
        "SourceFile" character varying(500),
        "Color" integer,
        "LineType" character varying(100),
        "Handle" character varying(50),
        "Text" text,
        "EntityType" character varying(50),
        "ImportedAt" timestamp with time zone NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone,
        CONSTRAINT "PK_dxf_features" PRIMARY KEY ("Id")
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20260209074003_AddDXFFeatureTable') THEN
    CREATE TABLE "DXFLayers" (
        "Id" uuid NOT NULL,
        "LayerName" character varying(200) NOT NULL,
        "GeoJsonData" text NOT NULL,
        "SourceFile" character varying(500),
        "ImportedAt" timestamp with time zone NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone,
        CONSTRAINT "PK_DXFLayers" PRIMARY KEY ("Id")
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20260209074003_AddDXFFeatureTable') THEN
    CREATE TABLE "topoexport_3D_modeling ΓÇö entities" (
        id integer GENERATED BY DEFAULT AS IDENTITY,
        geom geometry NOT NULL,
        "Layer" text,
        "PaperSpace" integer,
        "SubClasses" text,
        "Linetype" text,
        "EntityHandle" text,
        "Text" text,
        CONSTRAINT "PK_topoexport_3D_modeling ΓÇö entities" PRIMARY KEY (id)
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20260209074003_AddDXFFeatureTable') THEN
    CREATE INDEX "IX_dxf_features_Geometry" ON dxf_features USING gist ("Geometry");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20260209074003_AddDXFFeatureTable') THEN
    CREATE INDEX "IX_dxf_features_LayerName" ON dxf_features ("LayerName");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20260209074003_AddDXFFeatureTable') THEN
    CREATE INDEX "IX_DXFLayers_LayerName" ON "DXFLayers" ("LayerName");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20260209074003_AddDXFFeatureTable') THEN
    INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
    VALUES ('20260209074003_AddDXFFeatureTable', '10.0.2');
    END IF;
END $EF$;
COMMIT;


